<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To-Do List App</title>

    <script>
        function updateButtonVisibility() {
            var checkboxes = document.getElementsByName('taskStatusList[]');
            var updateButton = document.getElementById('updateButton');
            var isAnyChecked = false;

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isAnyChecked = true;
                    break;
                }
            }

            if (isAnyChecked) {
                updateButton.style.display = 'block';
            } else {
                updateButton.style.display = 'none';
            }
        }
    </script>

</head>
<div th:replace="fragments :: navbar"></div>
<body>
<h1 th:text="${userFirstName} == null ? 'Welcome to To-Do List App': 'Hi, ' + ${userFirstName} + '!'"> </h1>

<div th:if="${isLoggedIn} and ${taskListId}">
    <h1 th:text="${taskListName}"></h1>
    <form action="/home/addTask" method="post">
        <label for="description">New Task</label>
        <input type="text" name="description" id="description" placeholder="Task" required="true">
        <input type="hidden" name="taskListId" th:value="${taskListId}">
        <button type="submit">Add</button>
    </form>

    <form action="/home/updateFavTaskList" method="post">
        <table>
            <tr th:each="task: ${tasks}">
<!--                <div th:if="${task.taskStatus}=='INCOMPLETE'">-->
                    <td>
                        <input type="checkbox" name="taskStatusList[]" th:value="${task.taskId}" th:checked="${task.taskStatus == 'COMPLETE'}"/>
                    </td>
                    <td>
                        <input type="text" name="taskDescription[]" th:value="${task.description}" required="true"/>
                    </td>
<!--                </div>-->

            </tr>
        </table>
        <input type="hidden" name="taskListId" th:value="${taskListId}"/>
        <button id="updateButton" type="submit">Update</button>

    </form>
</div>


<div th:if="${isLoggedIn}!=true">
    <h2><a href="/signup">Create</a> an account</h2>
</div>
<div th:if="${isLoggedIn}==true and ${taskListId}==null">
    <h2><a href="/lists">Favourite</a> a to do list</h2>
</div>


</body>
</html>
